body {
  font-size: 16px;
  color: #fff;
  background-color: #61122f;
  font-family: 'Oxygen', sans-serif;
}

#header-nav {
  background-color: #f6b319;
  border-radius: 0;
  border: 0;
}
 /* Custom style for the navigation bar background color */
 .custom-navbar-bg {
  background-color: #f6b319;
}

/* Custom style for the navbar brand container */
.navbar-brand-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Custom style for the navbar brand text */
.navbar-brand {
  color: #fff; /* Default text color */
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  display: flex; /* Align items horizontally */
}

/* Change text color on hover */
.navbar-brand:hover {
  color: #ffcc00; /* Change the text color to a different color on hover */
}

/* Style for the kosher certification badge */
.kosher-badge {
  width: 60px; /* Adjust the width as needed */
  margin-left: 20px; /* Adjust the margin-left for spacing between text and badge */
}